<mat-sidenav-container class="example-container">
  <mat-sidenav #drawer mode="side"  mode="over">
    <mat-toolbar color="primary">
          <button mat-icon-button (click)="drawer.toggle()">
              <mat-icon>arrow_back</mat-icon>
          </button>
    </mat-toolbar>
  </mat-sidenav>


  <mat-sidenav-content>
    <mat-toolbar color="primary">
        <button mat-icon-button (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span class="title">Tea Picking App</span>
    </mat-toolbar>
    <div class="content fit" align="center">
        <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>