<mat-sidenav-container class="example-container">
  <mat-sidenav #drawer mode="side"  mode="over">
    <mat-toolbar color="primary">
          <button mat-icon-button (click)="drawer.toggle()">
              <mat-icon>arrow_back</mat-icon>
          </button>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/sessions" routerLinkActive="active" (click)="drawer.toggle()" >
        <mat-icon mat-list-icon>settings_input_composite</mat-icon>
        <h4 mat-line>New Picking</h4>
      </a>
      <a mat-list-item routerLink="/sessions" routerLinkActive="active" (click)="drawer.toggle()" >
        <mat-icon mat-list-icon>settings_input_composite</mat-icon>
        <h4 mat-line>Analysis</h4>
      </a>
    </mat-nav-list>
  </mat-sidenav>


  <mat-sidenav-content>
    <mat-toolbar color="primary">
        <button mat-icon-button (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span class="title">Tea Picking App</span>
    </mat-toolbar>
    <div class="content fit" align="center">
        <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>